[submodule "site/pack/plugins/start/vim-easymotion"]
	path = site/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "site/pack/plugins/start/supertab"]
	path = site/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "site/pack/plugins/start/vim-filebeagle"]
	path = site/pack/plugins/start/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle.git
[submodule "site/pack/plugins/start/fzf"]
	path = site/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "site/pack/plugins/start/vim-easy-align"]
	path = site/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "site/pack/plugins/start/lightline.vim"]
	path = site/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "site/pack/plugins/start/vim-grepper"]
	path = site/pack/plugins/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "site/pack/plugins/start/nerdcommenter"]
	path = site/pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "site/pack/plugins/start/molokai"]
	path = site/pack/plugins/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "site/pack/plugins/start/vim-endwise"]
	path = site/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "site/pack/plugins/start/vim-eunuch"]
	path = site/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "site/pack/plugins/start/vim-fugitive"]
	path = site/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "site/pack/plugins/start/vim-rails"]
	path = site/pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "site/pack/plugins/start/vim-rooter"]
	path = site/pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "site/pack/plugins/start/vim-surround"]
	path = site/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "site/pack/plugins/start/vim-unimpaired"]
	path = site/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "site/pack/plugins/start/syntastic"]
	path = site/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "site/pack/plugins/start/vim-polyglot"]
	path = site/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "site/pack/plugins/start/fzf.vim"]
	path = site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "site/pack/plugins/start/vim-editorconfig"]
	path = site/pack/plugins/start/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig.git
[submodule "site-minimal/pack/plugins/start/vim-easymotion"]
	path = site-minimal/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim-clap"]
	path = vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
